@import "../../../../styles/_commonColor.scss";

.container {
  height: 148px;
  width: 100%;
  .fixedContainer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 148px;
    z-index: 9999;
    button {
      display: block;
      border: none;
      height: 100%;
      margin: 0;
      color: white;
      font-size: 52px;
      outline: none;
    }
    .buttonGroup {
      display: flex;
      height: 100%;
      button {
        flex: 1;
      }

      .firstBtn {
        background: #373b3e;
      }
      .secondBtn {
        background: $orange;
      }
    }

    .singleBtn {
      background: $orange;
      width: 100%;
    }

    .unable {
      background: $gray !important;
    }
  }
}

.hide{
  display: none;
}