##############################
## Folders                  ##
##############################
node_modules
 
##############################
## Netbeans conf            ##
##############################
.vscode/launch.json
