.my{
  padding-bottom: 60px;
  .headerContent{
    padding:60px 0;
    box-sizing: border-box;
    height:496px;
    background-image: url('../../../images/my/gerenzhongxin-beijing.jpg');
    background-size: cover;
    position: relative;
    .userImg {
      margin:auto;
      width: 240px;
      height: 240px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 240px;
        height: 240px;
      }
    }

    div{
      color:white;
      text-align: center;
    }

    .name{
      font-size: 46px;
    }

    .phone{
      font-size: 38px;
    }
  }

  .commonItem{
    margin-top: 20px;
    .itemContent{
      display: flex;
      align-items: center;
      font-size: 46px;
      color:$mainBlack;
      height:150px;
      img{
        display: block;
        width:60px;
        height:60px;
        margin-right: 40px;
      }
    }
  }
  .singleItem{
    background: white;
    padding-left: 40px;
  }
}

.name>span {
  display: block;
  width: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin-left: calc(50% - 1.5rem);
}
.name>img {
  width: 0.8rem;
  position: absolute;
  right: calc(50% - 2.5rem);
  top: 60px;
  left:0;
}