.container{
  height:100%;
  width:100%;
  img{
    width:100%;
  }
}

.loading{
  height:100%;
  width:100%;
  background-color: white;
  padding-top: 500px;
  img{
    display: block;
    margin:auto;
  }
  text-align: center;
  font-size: 45px;
}