@import "../../../styles/_commonColor.scss";
.container{
  .headerImg{
    display: block;
    height:600px;
    width:100%;
  }

  .details{
    margin-top: 20px;
    border-bottom: solid 1PX $borderColor;
    border-top: solid 1PX $borderColor;
  }

  .space{
    height:168px;
  }
}