@import "../../../../styles/_commonColor.scss";
.toolTipContainer{
  color:$white;
  min-width: 100px;
  font-size: 24px;
  display: inline-block;
  .toolTipHeader{
    width: 0;
    height:0;
    border-color:transparent transparent $blue transparent;
    border-width:10px;
    border-style: solid;
    margin: 0 auto 0 auto;
    padding:0;
  }
  .toolTipContent{
    padding:10px;
    border-radius: 6px;
    background-color: $blue;
    display: flex;
    align-items: center;
    .img{
      width:25px;
      height:25px;
      background: url("./images/hide.png");
      background-size: 25px 25px;
      border:none;
      margin-left: 10px;
      background-repeat: no-repeat;
    }
  }
}

.hide{
  display:none;
}