@import './_commonColor.scss';
.am-list-item{
  .am-input-label{
    font-size: 30px;
    color: $darkgray;
  }
}

.am-input-control{
  height: 55px;
  line-height: 55px;
}
.am-list-content{
  font-size: 30px!important;
  color: $darkgray!important;
}
input{
  text-align: right;
  color: $black!important;
  font-size: 30px!important;
  height: 55px;
}
.am-list-body{
  border-top: none!important;
  border-bottom: none!important;
}
.am-list-extra{
  color: $black!important;
  font-size: 30px!important;
}
.am-list-body:after {
  border-bottom: none;
}
textarea {
  color: $black!important;
  font-size: 30px!important;
}

.am-picker-popup-mask{
  //position:relative;
  // animation:mymove 1s infinite;
  //animation-delay:1s;
  /*Safari and Chrome*/
  //-webkit-animation:mymove 2s infinite;
  -webkit-animation-delay:0.4s;
  animation-iteration-count: 1;
}
.am-picker-popup {
  //position:relative;
 // animation:mymove 1s infinite;
  //animation-delay:1s;
  /*Safari and Chrome*/
  //-webkit-animation:mymove 2s infinite;
  -webkit-animation-delay:0.4s;
  animation-iteration-count: 1;
}

.proceDures {
  .am-list-item.am-input-item:after{
    left: 0.3rem;
    bottom: 1PX;
    right: 0.3rem;
    top: auto;
    width: auto;
        border-bottom: 1PX solid #f3f3f3;
  }
  .am-list-item-middle{
    .am-list-line:after {
    right: 0.3rem !important;
    width: auto !important;
    }

  }
  .am-list-body div:not(:last-child) .am-list-line:after {
     border-bottom: 1PX solid #f3f3f3;
  }
}

@keyframes mymove
{
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
  from {opacity: 0;}
  to {opacity: 1;}
}
.am-list-item.am-input-item:after {
  display: block;
  position: absolute;
  content: '';
  left: 0.3rem;
  bottom: 1PX;
  right: auto;
  top: auto;
  width: 100%;
  border-bottom: 1PX solid #ddd;
}
