@import "../../../styles/_commonColor.scss";
.exam{
  height:100%;
  width:100%;
  overflow:auto;
  background-color: white;
  padding:80px 40px;
  box-sizing: border-box;

  .space{
    height:256px;
    width: 100%;
  }
  .buttonGroup{
    padding:60px 0;
    background: white;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    button{
      width:350px;
      height:136px;
      background-color: transparent;
      border:solid 1PX $borderColor;
      border-radius: 15px;
      font-size: 52px;
      color:$gray;
      &:nth-child(2){
        margin-left: 80px;
      }
    }

    .submit{
      background-color: $orange;
      border:solid 1PX $orange;
      color:white;
    }
  }
}