@import "../../../../styles/_commonColor.scss";
.container{
  padding:0 0 0 40px;
  background: white;
  .title{
    font-size: 46px;
    height:118px;
    line-height: 118px;
    border-bottom: solid 1PX $borderColor;
  }
  .content {
    display: flex;
    padding:40px 0;
    .teacherItem {
      flex: 1;
      display:flex;
      align-items: center;
      img{
        display: block;
        width:150px;
        height:150px;
      }
      .message{
        margin-left: 30px;
        .name{
          color:$mainBlack;
          font-size: 42px;
        }
        .position{
          color:$gray;
          font-size: 38px;
        }
      }
    }
  }
}