@import "../../../../styles/_commonColor.scss";
.container{
  padding:0 0 0 40px;
  background: white;
  .title{
    font-size: 46px;
    height:118px;
    line-height: 118px;
    border-bottom: solid 1PX $borderColor;
  }
  .content {
    display: block;
    padding:40px 0;
    .teacherItem {
      display:flex;
      margin-bottom: 40px;
      img{
        width:300px;
        height:300px;
      }
      .message{
        margin-left: 30px;
        flex:1;
        .name{
          color:$mainBlack;
          font-size: 52px;
        }
        .position{
          color:$gray;
          font-size: 48px;
        }
      }
    }
  }
}