@import "../../../../styles/_commonColor.scss";
.submitButton{
  display: block;
  margin:auto;
  width:1000px;
  outline: none;
  border-radius: 16px;
  background: $orange;
  color:white;
  font-size: 52px;
  border:none;
  height:136px;
  &:active{
    opacity: 0.8;
  }
}

.unable{
  background: $gray;
}