.sliderBottoms{
  div{
    display: inline-block;
    width:8PX;
    height:8PX;
    border-radius:5PX;
    background-color:#dbdbdb;
    margin-right: 25px;
  }
  .current{
    background-color:#A5D0E9;
  }
}